:root {
    font-family: "Cabin", sans-serif !important;
    --bg-violet: #1c1a5e !important;
}

.bg-violet {
    background-color: var(--bg-violet) !important;
}

.quiz-container {
    width: 600px;
    height: calc(100vh - 10px);
    border-radius: 1.2rem;
    /* overflow: hidden; */
}

@media (min-width:350px) and (max-width:576px) {
    .quiz-container {
        width: 330px;
        /* height:84vh; */
    height: calc(100vh - 198px);

    }
}

.options-card {
    background-color: #ffffff;
    /* color: #000; */
    border-radius: 1.2rem;
    cursor: pointer;
}

.options-card:hover {
    background-color: #b8b6b6;
}

.quiz-container {
    border-radius: 1.2rem;
}

.play-again-btn , .start-btn{
    background-color: #41e5ed;
    border-radius: 2rem;
}

.target-img{
    animation: float 3.5s infinite ease-in-out;
}

@keyframes float {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-18%);
    }
    100%{
        transform: translateY(0%);
    }
}